<div data-controller="previews">
  <%= form.label :avatar, class: "block text-sm leading-6 text-gray-900 font-bold mt-2"  %>
  <%= form.file_field :avatar,
    direct_upload: true,
    data: { previews_target: "input", action: "change->previews#preview" },class:"inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-full cursor-pointer hover:border-black hover:border-solid hover:bg-white hover:text-black shadow-md border-2 border-gray-400" %>
    <div class="image-container">
      <% if user.new_record? %>
        <%= image_tag "", data: { previews_target: "preview" }, class: "image" %>
      <% elsif user.avatar.attached? && user.avatar.signed_id.present? %>
        <%= image_tag Rails.application.routes.url_helpers.rails_blob_path(user.avatar, only_path: true), data: { previews_target: "preview" }, class: "w-16 h-16" %>
      <% else %>
        <%= image_tag "", data: { previews_target: "preview" }, class: "image" %>
      <% end %>
    </div>
</div>
