<h1>List of Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= product.name %>
      <%= product.description %>
      <%= product.minimum_bid_amount %>
      <%= product.status %>
    </li>
  <% end %>
</ul>

<% if current_user && current_user.seller? %>
  <%= link_to 'Add a new product', new_product_path %>
<% end %>
