<section class="min-h-screen flex items-center">
  <div class="container py-5 h-full">
    <div class="flex justify-center items-center h-full">
      <div class="w-full md:w-9/12 lg:w-7/12 xl:w-5/12">
        <div class="bg-gradient-to-tr from-[#b1fcfc] to-[#f2b0fc] rounded-lg p-4">
          <div>
            <h6 class="text-black"><%= current_user.first_name %>&nbsp <%= current_user.last_name %></h6>
          </div>
          <div class="flex items-center mb-4">
            <div class="flex-shrink-0">
              <%= image_tag(current_user.avatar, class: 'rounded-full object-cover w-48 h-48') if current_user.avatar.attached? %>
            </div>
          </div>
          <hr class="my-4">
          <p class="my-4 pb-1"><%= current_user.email %></p>
          <%= link_to 'Update Profile', edit_user_registration_path, class: 'inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-full border border-gray-300 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800 hover:border-black hover:border-solid hover:bg-white hover:text-black shadow-md'%>
        </div>
      </div>
    </div>
  </div>
</section>
