<div data-controller="previews">
  <%= form.label :images, class: "block text-sm leading-6 text-gray-900 font-bold mt-2" %>
  <%= form.file_field :images,
    multiple: true,
    direct_upload: true,
    accept: ".jpg,.jpeg,.png,",
    required:true,
    data: { previews_target: "input", action: "change->previews#preview" }, class: "inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-full cursor-pointer hover:border-black hover:border-solid hover:bg-white hover:text-black shadow-md border-2 border-gray-400" %>

  <div class="image-container p-2">
    <% if product.images.attached? %>
      <% product.images.each do |image| %>
        <%= image_tag image, data: { previews_target: "preview" } %>
        <!-- <%= form.hidden_field :image_ids, multiple: true, value: image.signed_id %> -->
      <% end %>
    <% else %>
      <%= image_tag "", data: { previews_target: "preview" }, class: "rounded-md" %>
    <% end %>
  </div>
</div>
