<% highest_bid = product.bids.maximum(:amount) %>
<div class="mx-3 mt-6 flex flex-col rounded-lg bg-white dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0 shadow-lg">
  <% if product.preview_image.attached? %>
    <div class="aspect-w-16 aspect-h-9">
      <a href="#!">
        <%= image_tag(product.preview_image, class: 'rounded-t-lg product-image', loading: 'lazy') %>
      </a>
    </div>
  <% end %>
  <div class="p-6">
    <h5 class="mb-2 text-xl font-medium leading-tight text-slate-900 dark:text-neutral-50">
      <%= product.name %>
    </h5>
    <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
      <%= product.description %>
    </p>
    <div class="w-full flex-none mt-2 order-1 text-3xl font-bold text-violet-600">
      <%= product.minimum_bid_amount %>$
    </div>
    <div class="w-full flex-none mt-2 order-1 text-xl text-slate-600">
      <%= product.status %>
    </div>
    <% if current_user && (current_user.admin? || current_user.super_admin?) %>
      <div class="w-full flex-none mt-2 order-1 text-xl text-slate-600">
        Added by - <%= product.user.first_name %> &nbsp<%= product.user.first_name %>
      </div>
    <% end %>
    <% if current_user && product.sold_to_id? && ((current_user.seller? && product.user == current_user) ||(current_user.admin? || current_user.super_admin?)) %>
    <% user_buyer = User.find(product.sold_to_id) %>
    <div class="w-full flex-none mt-2 order-1 text-xl text-slate-600">
      Sold to - <%= user_buyer.first_name  %> <%= user_buyer.last_name %> in  <%= number_to_currency(highest_bid) %>
    </div>
  <% end %>
    <div class="flex space-x-4 mb-5 text-sm font-md">
      <% if user_signed_in? %>
        <div class="flex-auto flex space-x-4">
          <%= link_to 'Show', product_path(product), class: 'inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-full border border-gray-300 bg-#F2B0FC focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800 hover:border-black hover:border-solid hover:bg-white hover:text-black shadow-md' %>
        </div>
      <% end %>
    </div>

    <div class="flex space-x-4 mb-5 text-sm font-md">
      <div class="flex flex-col justify-between">
      <% if current_user && (current_user.id == product.user_id || current_user.admin? || current_user.super_admin?) && !product.sold_to_id? && !product.live? %>
        <div class="flex flex-row justify-between">
          <div class="flex-auto flex space-x-4">
            <%= button_to 'Delete', product_path(product), method: :delete, class: 'inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-full border border-gray-300 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800 hover:border-black hover:border-solid hover:bg-white hover:text-black shadow-md', style: 'background-color: #F2B0FC;', data: { confirm: 'Are you sure?' } %>
          </div>
          <div class="flex-auto flex space-x-4">
            <%= link_to 'Edit', edit_product_path(product), class: 'inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-full border border-gray-300 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800 hover:border-black hover:border-solid hover:bg-white hover:text-black shadow-md', style: 'background-image: linear-gradient(to right, #b1fcfc, #f2b0fc);', data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
      <% if current_user && (current_user.admin? || current_user.super_admin?) && product.status == 'unapproved' %>
        <div class="flex-auto flex space-x-4 mt-2">
          <%= button_to 'Approve', { action: 'change_status', id: product.id, status: 'approved' }, method: :patch, class: 'inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-full border border-gray-300 bg-#F2B0FC focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800 hover:border-black hover:border-solid hover:bg-white hover:text-black shadow-md', remote: true, style: 'background-color: #86E5E5;' %>
          <%= button_to 'Reject', { action: 'change_status', id: product.id, status: 'rejected' }, method: :patch, class: 'inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-full border border-gray-300 bg-#F2B0FC focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800 hover:border-black hover:border-solid hover:bg-white hover:text-black shadow-md', remote: true, style: 'background-color: #F2B0FC;' %>
        </div>
      <% end %>
    </div>
      <% if defined?(auction) && auction && (auction.status == 'live' || auction.status == 'approved') && current_user.buyer? %>
        <div class="flex-auto flex space-x-4">
          <%= render partial: "add_bid_details", locals: { product: product } %>
          <%= render partial: "auto_bid_button", locals: { product: product } %>
        </div>
      <% end %>

    </div>
    <div>
      <% if current_user && defined?(auction) %>
      <% if auction.ended? && !product.bids.present? %>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        Auction ended and this product is not sold
      </p>
      <% else %>
      <% if highest_bid.present? && current_user.buyer? %>
        <% if auction.ended? %>
          <% if product.sold_to_id == current_user.id %>
            <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
              You won the product!
            </p>
          <% else %>
            Highest Bid:
            <div class="flex gap-2">
              <div class="relative grid select-none items-center whitespace-nowrap rounded-lg border border-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-gray-700">
                <span class=""><%= number_to_currency(highest_bid) %></span>
              </div>
            </div>
          <% end %>
        <% else %>
          Highest Bid:
          <div class="flex gap-2">
            <div class="relative grid select-none items-center whitespace-nowrap rounded-lg border border-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-gray-700">
              <span class=""><%= number_to_currency(highest_bid) %></span>
            </div>
          </div>
        <% end %>
      <% elsif product.bids.present? && (current_user.admin? || current_user.super_admin? || product.user_id == current_user.id) %>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          All Bids till now:
        </p>
        <div class="grid-cols-1 sm:grid md:grid-cols-3">
          <% product.bids.each do |bid| %>
            <%= render bid %>
          <% end %>
        </div>
      <% else %>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          No Bids Yet
        </p>
      <% end %>
      <% end %>
      <% end %>
      <% if product.sold_to_id == current_user.id && !product.review.present? %>
      <%= render partial: "reviews/review_form", locals: { product: product } %>
     <% elsif product.review.present? %>
     <%= render partial: "reviews/rating", locals: { product: product } %>
     <% else %>
     <div></div>
    <% end %>
    </div>
  </div>
</div>
