<h1>List of Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <% if product.preview_image.attached? %>
        <%= image_tag(product.preview_image, class: 'rounded-full w-16 h-16') %>
      <% end %>
      <%= product.name %>
      <%= product.description %>
      <%= product.minimum_bid_amount %>
      <%= product.status %>
      <%= link_to 'Show', product_path(product) %>
      <% if current_user && (current_user.id == product.user_id || current_user.admin? || current_user.super_admin?) %>
        <div class="flex-auto flex space-x-4">
          <%= button_to 'Delete', product_path(product), method: :delete, class: 'inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-full border border-gray-300 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800 hover:border-black hover:border-solid hover:bg-white hover:text-black shadow-md',data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
      <% if current_user && (current_user.admin? || current_user.super_admin?) && product.status == 'unapproved' %>
  <div class="flex-auto flex space-x-4">
    <%= button_to 'Approve', { action: 'change_status', id: product.id, status: 'approved' }, method: :patch, class: 'btn btn-success ml-2', remote: true %>
    <%= button_to 'Reject', { action: 'change_status', id: product.id, status: 'rejected' }, method: :patch, class: 'btn btn-danger ml-2 btn-reject', remote: true %>
  </div>
<% end %>
    </li>
  <% end %>
</ul>

<% if current_user && (current_user.seller?) %>
  <%= link_to 'Add a new product', new_product_path, class:"mt-8" %>
<% end %>
