<h1>New Product</h1>

<%= form_with(model: @product, url: products_path, method: :post) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :minimum_bid_amount %>
    <%= form.number_field :minimum_bid_amount %>
  </div>

  <div class="actions">
    <%= form.submit "Create Product" %>
  </div>
<% end %>
